/* src/pages/Auth/Login.css */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #FEBBB3, #FFF9DA);
  font-family: 'KoddiUD OnGothic', sans-serif;
}

.login-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 24px;
}

.login-box {
  background: linear-gradient(to bottom, #ffe0e0, #fff8e7);
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #DD938A;
}

/*focus 맞췄을 때 테두리 표시*/
.login-box input:focus,
.login-box select:focus {
  box-shadow: 0 0 0 3px rgba(255, 179, 167, 0.5);
}

.login-input {
  width: 80%;
  padding: 12px 16px;
  margin-bottom: 14px;
  border: 1px solid #DD938A;
  border-radius: 15px;
  outline: none;
  font-size: 13px;
}

.login-divider {
  width: 100%;
  /* border-top: 1px solid #FFFFFF; */
  margin: 20px 0 16px;
  position: relative;
  text-align: center;
}

.divider-text {
  /* background: linear-gradient(to bottom, #f3c6c2, #fff5d1); */
  padding: 0 8px;
  position: relative;
  top: -12px;
  font-size: 12px;
  color: #444;
  font-weight: bold;
}

/* 좌우 선 추가 */
.divider-text::before,
.divider-text::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 90px; /* 선 길이 */
  height: 1px;
  background-color: #ACACAC;
}

.divider-text::before {
  left: -90px; /* 선과 텍스트 간격 포함 */
}

.divider-text::after {
  right: -90px;
}

.sns-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
  border-radius: 30px;
  margin-bottom: 24px;
}

.sns-icons img {
  width: 36px;
  height: 36px;
  cursor: pointer;
}



.login-links {
  font-size: 12px;
  color: #ACACAC;
  display: flex;
  gap: 10px;
}

.login-links a {
  text-decoration: none;
  color: #ACACAC;
}

.divider-bar {
  color: #ACACAC;
}
